body{
  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif !important;
  font-size: 14px;
}
.preloader {
    transition: height .1s linear;
}


[class*=sidebar-dark-] .nav-treeview>.nav-item>.nav-link {
  color: #b8c7ce;
  font-size: 14px;
}
.sidebar-mini .main-sidebar .nav-link{
  width: calc(100% + 16px);
  margin-left: -8px;
}

[class*=sidebar-dark-] .sidebar a {
  color: #b8c7ce;
  font-size: 14px;
 
}
.card-body.table-responsive  tr img{
  width: 145px;
  height: 85px;
  object-fit: contain;
}
.card-body>.table>thead>tr>th{
  font-size: 14px;
}
.card-body>.table td{
  font-size: 14px;
}

.main-footer{
  padding: 10px 20px;
  font-size: 14px;
}
.main-footer strong{
  font-weight: normal;
  font-size: 14px;
}

.content-wrapper .btn-success, .btn-primary,.btn-danger {
  font-size: 15px;
  margin-left: 11px;
  padding: 4px 10px;
  padding-bottom: 4px;
}
.content-wrapper .btn-success i, .btn-primary i,.btn-danger i{
  font-size: 15px;
  margin-right: 5px;
}


.nav-sidebar>.nav-item .nav-icon {
font-size: 15px !important;
}
.btn i{
    color: #ffffff;
}
.edit_news .nav-item a.nav-link {
    padding-left: 30px;
}
.bg-menu {
  background-color: #222d32;
}
[class*=sidebar-dark] .brand-link {
 border-bottom: unset;
  background: #1a2226;
}
.bg-menu ul.nav-pills >li>a.nav-link.active{
    border-radius: unset;
    background:rgba(255,255,255,.1) !important;
    border-top-color: transparent!important;
}
.edit_news .nav-link.active {
    background: #575757!important;
    color: #fff!important;
    border-radius: unset;
}
.hide{
    display: none;
}
/* .os-padding .nav-link {
    padding: 5px 5px !important;
} */
.os-padding{
    font-size: 15px;
}
.news{
  max-width: 1000px;
}
.news .card-body img{
  width: 145px;
    height: 85px;
    object-fit: cover;
}
.news .card-tools .float-right{
  font-size: 13px;
  height: 32px;
}
.news .card-body .col-2{
  width: 145px;
  max-width: 145px;
}
.news .card-body .ml-3{
  width: calc(100% - 175px) !important;
  max-width: calc(100% - 175px);
}
.news .card-body .ml-3 + .text-center{
  margin-right: 20px;
}

.card-info.card-outline {
  border-top: 2px solid #17a2b8;
}
/* .card-header i{
    color: #ffffff;
} */
.card-header.box-menu-setting i{
    color: unset;
}
input.form-control, select.form-control{
  font-size: 15px;
  height: 35px;
}
textarea.form-control {
  font-size: 15px;
}
label{
    font-size: 15px;
    font-weight: normal !important;
    line-height: 20px;
}
.user-panel img{
    height: 2.1rem;
    object-position: 50% 50%;
    object-fit: cover;
    font-family: 'object-fit: cover;';
}
.btn_trash {
    line-height: 16px;
    margin-top: 7px;
    text-decoration: none;
    border-bottom: 1px solid #d84a38;
    color: #d84a38;
    display: inline-block;
    font-size: 12px;
    padding: 0 3px;
}
.user ul.dropdown-menu.show:after {
    position:absolute;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #7f7f7f;
    content:'';
    top:-5px;
    right:20%;
}
.main-header .user .nav-link{
    height: unset;
}

.dropdown-toggle::after{display: none}
.btnBt{
    border: none;
    outline: none;
    background: none;
    padding: 0;
}
ul.dropdown-menu li:hover{
    background: #d3d6da;
}
ul.dropdown-menu li a, ul.dropdown-menu li button{color: #777; font-size: 14px;padding: 1px 35px}
ul.dropdown-menu li i {margin-right: 10px}
.img_100x100{
    width: 100px;
    height: 100px;
}
.nav-pills .nav-link{
    border-radius: unset;
}
a {
    color: #0d638f;
}
.card-body.table-responsive .banner  tr img{
  width: 300px;
  height: 170px;
  object-fit: inherit;
}
.bg-box-top {
  background: #FFFFFF;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1), 0px 0px 1px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.text_header {
  text-align: center;
}
.text_header span {
  font-size: 18px;
  font-weight: 500;
  color: ##25272a;
}

.box-header {
  border-bottom: 1px solid #EEEFF2;
}

.inner h3 {
  font-size: 24px !important;
}

.span_text {
  font-size: 14px;
  line-height: 130%;
  font-weight: 500;
}
.box-light .box-color-icon i {
  font-size: 48px !important;
  top: 17px !important;
  right: 9% !important;
}
.box-light.active .box-color-icon i {
  color: #fc8421;
}
.box-color-icon svg {
  top: 5 !important;
}
.remote {
  padding-top: 10px;
}

.text_footer {
  margin-bottom: 0 !important;
  font-weight: 400;
  font-size: 12px !important;
  line-height: 160%;
}

.text_footer .down {
  color: #FD6A6A;
}

.text_footer .up {
  color: #0CAF60;
}

.ellipse {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  right: 4%;
  position: absolute;
  top: 7px;
  background: #FEF3E6;
  z-index: 999;
}
.analytics .card-title{
  font-weight: 700;
  font-size: 24px;
  line-height: 130%;
  display: flex;
  align-items: center;
  color: #231F20;
}
.max-height-box{
  /* max-height: 500px; */
}
.tableWrap {
  height: 500px;
  overflow: auto;
}
.tableWrap thead tr th {
  position: sticky;
  top: 0;
}

.tableWrap th {
  background: white;
  text-align: left;
}

.tableWrap thead {
  font-weight: 500;
  color: rgba(0, 0, 0, 0.85);
}
.tableWrap tbody tr:hover {
  background: #e6f7ff;
}
#gateway1 tr:first-of-type {
  background-color: #85e29d;
}
#gateway2 tr:first-of-type {
  background-color: #85e29d;
}